*, 
*, ::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.grid-container {
display: grid;
grid-template-columns: repeat(2, 3fr);
grid-gap: 20px;
justify-content: center;
}
.box {
    border: 4px solid #ddd;
    padding: 20px;
    text-align: center;
  }
  .box img {
    max-width: 450px;
    height: 240px;
  }